!!!5
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title auc
    %link{rel:"stylesheet", href:url("/css/auc.css")}
    %script{type:"text/javascript", src:url("/js/auc.js")}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href:url("/")}auc
          %ul.nav.pull-right
            %li
              %a{href:"#"}
                %i.icon-user
                = session[:username]
            %li
              %a{href:url("/logout")}
                %i.icon-off
                ログアウト
          - if session[:is_admin]
            %ul.nav
              %li
                %a{href:url("/user")}ユーザー
              %li
                %a{href:url("/shop")}店舗
              %li
                %a{href:url("/color")}カラー
              %li
                %a{href:url("/html_template")}HTMLテンプレート
              %li
                %a{href:url("/text_template")}テキストテンプレート
    .container
      = yield
